<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../assets/imgs/FINANÇAS-PESSOAIS.png" />
    <ion-card-content>
      <ion-card-title>
        Aplicativo Financeiro
      </ion-card-title>
      <p>
        Este aplicativo foi criado no curso
         Aplicativo Financeiro com Ionic3.
      </p>

      <button ion-button round (click)="saldo()">
        Saldo
      </button>
      <button center ion-button color="secondary" round (click)="contas()">
        Contas
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>