<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button icon-only ion-button (click)="fechar()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close-circle" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Adicionar Contas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label stacked>Descrição</ion-label>
      <ion-input type="text"></ion-input>
      <!--[(ngModel)]="classeConta.descricao"-->
    </ion-item>
  </ion-list>
  <button ion-button full (click)="salvar()">
    Salvar
  </button>

  <ion-fab bottom right>
    <button ion-fab (click)="fechar()" color="primary">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-fab>
</ion-content>