<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button icon-only ion-button (click)="fechar()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close-circle" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Adicionar Lancamentos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!--class="modal-lancamento"-->
  <ion-list>
    <ion-item>
      <ion-label stacked>Descrição</ion-label>
      <ion-input type="text"></ion-input>
      <!--[(ngModel)]="classe.descricao"-->
    </ion-item>

    <ion-item>
      <ion-label stacked>Valor</ion-label>
      <ion-input type="number"></ion-input><!-- [(ngModel)]="classe.valor" -->
    </ion-item>

    <ion-item>
      <ion-label stacked>Data</ion-label>
      <ion-input type="date"></ion-input><!-- [(ngModel)]="classe.data" -->
    </ion-item>

    <ion-item>
      <ion-label stacked>Entrada/Saida</ion-label> <!-- [(ngModel)]="classe.entradaSaida" -->
      <ion-select>
        <ion-option value="entrada">Entrada</ion-option>
        <ion-option value="saida">Saida</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Conta</ion-label>
      <ion-select type="text">
        <!-- [(ngModel)]="classe.conta" -->
        <ion-option>
          <!-- *ngFor="let item of listaContas" -->
          descricao
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Pago</ion-label>
      <ion-checkbox></ion-checkbox><!-- [(ngModel)]="classe.pago" -->
    </ion-item>
  </ion-list>

  <button ion-button full>Salvar</button> <!-- (click)="salvar()" -->
  <ion-fab bottom right>
    <button ion-fab (click)="fechar()" color="primary">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-fab>

</ion-content>