<ion-header>
  <ion-navbar>
    <ion-title text-center>Contas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding>
      <!--  *ngFor="let  of " (click)="" 
        (click)="remover(item)"-->
      <ion-item>
        <h1>Dério</h1>
      </ion-item>
      <ion-item-options side="right">
        <button title="Editar" icon-only ion-button color="warning">
          <ion-icon name="create"></ion-icon>
        </button>
        <button icon-only ion-button color="secondary">
          <ion-icon icon-only name="cash"></ion-icon>
        </button>
      </ion-item-options>

      <ion-item-options side="left">
        <button title="Excluir" icon-only ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="adicionar()">
      <ion-icon color="danger" name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>