<ion-header>
  <ion-navbar>
    <ion-title>Saldo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card color="secondary">

    <ion-card-header>
      Saldo do Mês
    </ion-card-header>

    <ion-card-content>
      <ion-toolbar color="dark">
        <ion-title text-center>
          R$ 2.000,00
        </ion-title>
      </ion-toolbar>
    </ion-card-content>

  </ion-card>

</ion-content>