<ion-header>
  <ion-navbar>
    <ion-title>Lançamentos</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>

  <ion-list>
    <ion-item-sliding>
      <!--(ionInput)=""  *ngFor="let  of " (click)="" 
      (click)="changePaymentStatus(item)"
    (click)="remover(item)"-->
      <ion-item>
        <p>Dério</p>
      </ion-item>

      <ion-item-options side="right">
        <button title="Editar" icon-only ion-button color="warning">
          <ion-icon name="create"></ion-icon>
        </button>
        <button icon-only ion-button color="secondary">
          <ion-icon icon-only name="cash"></ion-icon>
        </button>
      </ion-item-options>

      <ion-item-options side="left">
        <button title="Excluir" icon-only ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab (click)="add()" color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>